*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header{
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 30px;
}

/*Diseño NAV*/
.nav{
    display: flex;
    justify-content: center /*Centra contenido con flex*/;
    gap: 20px; /*Separacion de elementos con flex*/
    background-color: #334155;
    padding: 15px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}