*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

.header{
    background-color: #1E3A5F;
    color: white;
    padding: 30px;
}

.menu{
    background-color: #2C5282;
}

.boton{
    display: inline-block;
    background-color: #2C5282;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.boton:hover{
    background-color: #335f96;
}

.contenedor_principal{
    padding: 25px 50px;
}
.contenedor{
    background-color: #ffff;
    border-radius: 6px;
    padding: 30px;
    margin: 10px 90px 0px 90px;
}
.contenedor2{
    padding: 30px 0px;
    font-size: medium;
    background-color: #2C5282;
    border-radius: 6px;
    color: white;
}
.contenedor_tarjeta{
    padding: 20px;
}
.caja{
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: #00ADE5;
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.fondo{
    background-color: #dee1e4;
}